 <%= tag.div id: dom_id(device), data: {
        stream_enter_class: "animate-device-in",
        stream_exit_class: "animate-device-out"
  } do %>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= device.name %>
      </p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="block">
          Last Known Location: <strong><%= device.location %></strong>
        </div>
        <div class="block">
          Updated: <time><%= device.updated_at %></time> 
        </div>
      </div>
    </div>
  </div>
<% end %>
